<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <base href="/"/>
</head>
<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.dll) { %>
    <% htmlWebpackPlugin.options.dll.paths.forEach(function (path) { %>
      <script src="<%= path %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
